body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

table {
  width: 50%;
  margin: auto;
  margin-top: 25px;
  text-align: center;
  background-color: lightseagreen;
  border: solid 1px lightcoral;
  content: "";
  display: table;
  clear: both;
}

th {
  border-bottom: solid 1px grey;
}
td {
  border-bottom: solid 1px lightgrey;
}
button {
  border-bottom: none;
}
form {
  width: 80%;
  margin: auto;
  margin-top: 25px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid lightcoral;
  border-radius: 2px;
  background-color: lightseagreen;
}

select {
	width: 150px;
	padding:1.5px;
	margin: 5px;
	resize: vertical;
}

input[type=submit] {
  background-color: lightseagreen;
  color: white;
  margin: 5px;
  padding: 3px;
  border: 1px solid lightcoral;
  border-radius: 4px;
  cursor: pointer;
  float: center;
}

input[type=submit]:hover {
    background-color: #555555;
}

.buttonSarake {
  border-bottom: none;
}

.buttonSarake {
  border: 2px solid #555555;
  background-color: #e7e7e7;
  font-size: 16px;
  padding: 12px 28px;
  border-radius: 8px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.buttonSarake:hover {
  background-color: #555555;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  clear: both;
  margin: 4px;
  resize: vertical;
  block-size: 40px;
}

.Editbutton {
  
}

